* {
    padding: 0;
    margin: 0;
}

body {
    /* background-image: url("images/wall2.jpg"); */
    /* background-size: cover; */
    background-color: rgb(229, 219, 205, 0.1);
}

.header {
    padding: 1rem 15vw 0;
    background-color: black;
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    color: white;
}

.header > h1 {
    background-color: black;
    flex: 0.33;
    padding: 0.5rem;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content:flex-start;
    align-items: stretch;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.navbar > a {
    text-decoration: none;   
    padding: 0.5rem;
    border-left: 1px solid white;
}

.navbar > a:hover {
    /* transform: scale(1.1); */
    background-color: rgb(57, 143, 241);
}

.navbar > a:visited {
    color: white;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 0vh 15vw 0vh 15vw;
    gap: 1rem;
    
}

.sidebar {
    flex: 1;
    background-color: rgb(255,255,255,0.8);
    padding: 1rem;
    border: 2px ridge rgb(57, 143, 241);
}

.sidebar li {
    margin-left: 1rem;
}

.sidebar h2 {
    padding: 0.5rem; 
    
}

.ivaylo-img {
    padding: 1em 1em 1em 1em;
    height: 25vh;
    border-radius: 50%;
    box-shadow: 5px black;
}

main {
    display: flex;
    flex: 2;
}

.text-display {
    padding: 1rem;
    background-color: rgb(255,255,255,0.8); 
    flex: 1;
    gap: 1rem;
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap; 
    object-fit: contain;
}

.text-display > img {
    border-radius: 8px;
    max-height: 25vh;
    
    transition: all .2s ease-in-out;
}

.text-display >img:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.footer {
    display: flex;
    height: 3vh;
    background-color: black;
    color: white;
    align-items: center; 
    justify-content: center;
    margin-top: max(1.5rem);     
}

.footer > a:visited {
    color: white;
}
