* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("images/wall2.jpg");
    background-size: contain;
}

.header {
    padding: 1rem 15vw 0;
    /* background-color: rgb(57, 143, 241); */
    background-color: black;
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    color: white;
}

.header > h1 {
    background-color: black;
    flex: 0.33;
    padding: 0.5rem;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content:flex-start;
    align-items: stretch;
    /* gap: 1rem; */
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.navbar > a {
    text-decoration: none;   
    padding: 0.5rem;
    border-left: 1px solid white;
}

.navbar > a:hover {
    /* transform: scale(1.1); */
    background-color: rgb(57, 143, 241);
}

.navbar > a:visited {
    color: white;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 0vh 15vw 0vh 15vw;
}

.sidebar {
    flex: 0.33;
}

.sidebar h2 {
    align-self: center; 
}

.question-p {
    align-self: center;
    text-align: justify;
}

.question-wrapper {
    background-color: rgb(255, 255, 255, 0.8);
    /* background-color: rgb(57, 143, 241, 0.8);  */
    display: flex;
    gap: 1vw;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 6px dotted rgb(87, 87, 87);
    padding: 0.5rem;
}

.question-wrapper.first-child {
    border-top: 10px solid black;   
}

.ivaylo-img {
    padding: 1em 1em 1em 1em;
    height: 25vh;
    border-radius: 50%;
    box-shadow: 5px black;
}

main {
    display: flex;
    flex: 1;
}

.hero {
    padding: 1rem;
    /* background-color: rgb(87, 85, 85, 0.8); */
    background-color: rgb(57, 143, 241, 0.8); 
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap; 
    flex-grow: 1;
}

.hero > img {
    border-radius: 8px;
    height: 15em;
    transition: all .2s ease-in-out;
}

.hero >img:hover {
    transform: scale(1.1);
}

